# Used in the FindIt
MYSQL_DATABASE={{ findit_db_name }}
MYSQL_SERVER={{ findit_db_host }}
MYSQL_USER={{ findit_db_user }}
MYSQL_PASSWORD={{ findit_db_pass }}
MYSQL_PORT={{ findit_db_port }}

SFX_DB_HOST={{ sfx_db_host }}
SFX_DB_PORT={{ sfx_db_port }}
SFX_DB_NAME={{ sfx_db_name }}
SFX_DB_USER={{ sfx_db_user }}
SFX_DB_PASSWORD={{ sfx_db_pass }}
